*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .website-logo {
  font-weight: bolder;
  font-size: 20px;
  color: rgb(106, 45, 74);
  font-family: Arial, Helvetica;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 10px;
  color: black;
  font-weight: bold;
  display: block;
}

header .navbar ul li a:hover {
  background-color: grey;
  color: whitesmoke;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

header #menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

/* Opinions Container */

.loading-from-opinion-page {
  margin-top: 10em;
}

.opinions-main-container {
  margin-top: 5em;
}

.opinions-main-container .input-container{
  display: flex;
  justify-content: center;
}

.input-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.opinions-main-container .input-container form textarea{
  width: 50%;
  height: 6em;
  border-radius: 10px;
  padding-top: 1em;
  text-align: center;
  line-height: 1.5em;
}

.input-container form input {
  width: 20%;
  height: 2em;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.5em;
}

.opinions-container {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.main-picture-from-opinion-page{
  width: 100%;
  height: 18em;
}

/* Sub Opinions Container */
.sub-opinions-container {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin: 0 1%;
  margin-bottom: 1em;
}

.sub-opinions-container .title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.sub-opinions-container .author-opinion-container {
  display: flex;
}

.sub-opinions-container .author-opinion-container img {
  width: 20%;
  height: 75px;
  border-radius: 50%;
  margin-right: 1em;
}

/* Opinion details container */
.opinion-details-container {
  margin: 4em 0.5em 0 0.5em;
}

.opinion-author-container {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
}

.opinion-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agree-disagree-container {
  display: flex;
}

.agree-disagree-container button{
  margin-right: 0.5em;
}

.sub-opinion-title-and-picture, .sub-opinion-body {
  width: 50%;
  padding-right: 0.5em;
}

.sub-opinion-title-and-picture .title {
  text-align: center;
}

.opinion-content-container .sub-opinion-body {
  /* overflow-y: scroll; */
  margin-top: 1em;
}

.main-image {
  width: 100%;
  height: 30em;
  margin-top: 0.3em;
}

.opinion-details-container .opinion-author-container img {
  width: 5%;
  height: 75px;
  border-radius: 50%;
  margin-right: 1em;
}

/* Create comment container */

.comment-container {
  margin-top: 2em;
  display: flex;
  align-items: flex-start;
}

.comment-container img {
  width: 9%;
  height: 65px;
  border-radius: 50%;
  margin-right: 1em;
  padding-bottom: 0.3em;
}

.comment-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

.comment-form textarea {
  width: 100%;
  height: 5em;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 0.5em;
}

.comment-form button{
  width: auto;
  cursor: pointer;
}

/* Comments-container and Subcomment container */
.comments-container {
  margin-bottom: 2em;
}

.sub-comments-container, .sub-subcomment-container {
  margin-top: 2em;
  display: flex;
}

.sub-subcomment-container {
  margin-left: 5em;
}

.sub-subcomment-container a {
  margin-right: 0.5em;
}

.form-edit-comment textarea, .form-create-new-subcomment textarea,
.form-edit-subcomment textarea {
  width: 100%;
  height: 5em;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-edit-comment button, .form-create-new-subcomment button,
.form-edit-subcomment button {
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.sub-comments-container img, .sub-subcomment-container img {
  width: 9%;
  height: 65px;
  border-radius: 50%;
  margin-right: 1em;
  padding-bottom: 0.3em;
}

.sub-subcomment-container img {
  width: 10%;
}

.sub-comments-container div .edit-reply-container {
  display: flex;
}

.sub-comments-container div a {
  margin-right: 5px;
}

.body-sub-comment {
  margin-top: 1em;
}

.form-create-new-subcomment {
  display: flex;
  flex-direction: column;
}

.form-create-new-subcomment .buttons-create-new-subcomment {
  display: flex;
  justify-content: end;
}

/* Edit Form Subcomment */
.edit-form-subcomment {
  margin-top: 5em;
}

/* Signup page container */
.signup-page-container {
  margin-top: 5em;
  text-align: center;
}

.signup-page-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.signup-page-container form input {
  width: 20%;
  border-radius: 10px;
  height: 2em;
  margin: 1em 0 1em 0;
  text-align: center;
}

/* Login page container */
.login-page-Container {
  margin-top: 5em;
  text-align: center;
}

.login-page-Container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.login-page-Container form input {
  width: 20%;
  border-radius: 10px;
  height: 2em;
  margin: 1em 0 1em 0;
  text-align: center;
}

/* Edit opinion */
.form-container {
  margin-top: 5em;
  text-align: center;
}

.form-container .delete-button, .submit-button {
  margin-top: 3em;
  padding: 0.5em;
  width: 60px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-button {
  margin-top: 0;
}

.form-edit-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-edit-submit textarea {
  width: 50%;
  height: 6em;
  border-radius: 10px;
  padding-top: 1em;
  text-align: center; /* Center text horizontally */
  line-height: 1.5em; /* Adjust line height to help with vertical centering */
}

.form-edit-submit input {
  width: 20%;
  height: 2em;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.5em;
}

.form-edit-submit img {
  width: 40%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

@media (max-width: 991px) {
  /* Header */
  
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: none;
  }

  header .navbar ul {
    display: flex;
    justify-content: center;
  }

  header #menu-bar:checked ~ .navbar {
    display: initial;
  }

  /* Input-container form */
  .opinions-main-container .input-container form input{
    width: 30%;
  }

  /* Sub Opinions Container */
  .opinion-details-container {
    margin-top: 5em;
  }

  .sub-opinions-container {
    width: 30%;
    }

  .opinion-content-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sub-opinion-title-and-picture, .sub-opinion-body {
    flex-grow: 1;
  }

  .opinion-details-container .opinion-author-container img {
    width: 8%;
  }

  .main-picture-from-opinion-page{
    width: 100%;
    height: 20em;
  }

  /* Signup and Login page container */
  .signup-page-container form input, .login-page-Container form input {
    width: 30% !important;
  }
}

@media (max-width: 800px) {
  /* Input-container form */

  .opinions-main-container .input-container form input{
    width: 35%;
  }

  .opinions-main-container .input-container form textarea {
    width: 90%;
  }

  .author-opinion-container img {
    height: 85px;
  }

  /* Sub Opinions Container */
  .sub-opinions-container {
    width: 45%;
    }

  .opinion-content-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sub-opinion-title-and-picture, .sub-opinion-body {
    flex-grow: 1;
  }

  /* Signup and Login page container */
  .signup-page-container form input, .login-page-Container form input {
    width: 40% !important;
  }

}

@media (max-width: 500px) {
  /* Input-container form */
  .opinions-main-container .input-container form input{
    width: 45%;
    transition: width 0.3s ease-in-out;
  }

  .opinions-main-container .input-container form input:hover {
    width: 45%;
  }

  .opinions-main-container .input-container {
    margin-bottom: 1em;
  }

  .opinions-main-container .input-container form textarea {
    width: 90%;
  }

  .opinions-main-container div.input-filter-container {
    width: 100% !important;
    height: 50px;
  }

  /* Sub Opinions Container */
  .opinion-details-container .opinion-author-container img {
    width: 17%;
  }

  .sub-opinions-container {
    width: 100%;
    }

  .opinion-content-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sub-opinion-title-and-picture, .sub-opinion-body {
    flex-grow: 1;
  }

  .sub-opinion-title-and-picture img {
    height: 20em;
  }

  .comments-container .sub-comments-container img {
    width: 12%;
  }

  .comment-container img {
    width: 13%;
  }

  /* Signup and Login page container */
  .signup-page-container form input, .login-page-Container form input{
    width: 80% !important;
  }
}